{% extends 'master.html' %}

{% block css %}
    <link rel="stylesheet" href="/static/css/mycss/index.css">
    <link rel="stylesheet" href="/static/css/mycss/cert_apply.css">
{% endblock %}

{% block content %}
<!--右侧部分开始-->
    <div class="row J_mainContent animated fadeInRight" id="content-main">
      <div class="col-sm-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <i class="fa fa-info-circle"></i> 证书申请
            </div>
            <div class="panel-body">
              <div class="col-sm-12">
                <div class="ibox float-e-margins">
                  <div class="search-form">
                      <div class="input-group">
                          <input type="text" placeholder="输入搜索内容···" name="search" class="form-control input-lg">
                          <div class="input-group-btn">
                              <button class="btn btn-lg btn-primary" type="submit">确认获取</button>
                          </div>
                      </div>
                      <div class="alert alert-warning">
                          <p>获取展示内容1</p>
                          <p>获取展示内容2</p>
                      </div>
                  </div>
                </div>
              </div>
            </div>

        </div>
      </div>
    </div>
{% endblock %}

{% block js %}
    <script src="/static/js/cert_apply.js"></script>
{% endblock %}