{% extends 'master.html' %}

{% block css %}
    <link rel="stylesheet" href="/static/css/mycss/index.css">
    <link rel="stylesheet" href="/static/css/mycss/cert_apply.css">
{% endblock %}

{% block content %}
<!--右侧部分开始-->
    <div class="row J_mainContent animated fadeInRight" id="content-main">
      <div class="col-sm-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <i class="fa fa-info-circle"></i> 证书申请
            </div>
            <div class="panel-body">
              <div class="col-sm-12">
                <div class="ibox float-e-margins">
                  <div class="search-form">
                      <div class="input-group">
                          <input type="text" placeholder="输入搜索内容···" name="search" class="form-control input-lg">
                          <div class="input-group-btn">
                              <button id="getTXT" class="btn btn-lg btn-primary" type="submit">获取TXT值</button>
                          </div>
                      </div>
                      <!-- 动画 -->
                      <div id="wave">
                        <h3>TXT值获取中，请稍后···</h3>
                        <div class="sk-spinner sk-spinner-wave">
                            <div class="sk-rect1"></div>
                            <div class="sk-rect2"></div>
                            <div class="sk-rect3"></div>
                            <div class="sk-rect4"></div>
                            <div class="sk-rect5"></div>
                        </div>
                      </div>
                      <div id="TXT_info">
                        <span>主机名：</span><h3 id="hostname"></h3><br>
                        <span>TXT值：</span> <h3 id="TXTval"></h3>
                        <p>请为该域名添加一条TXT记录，主机名为：_acme-challenge，记录值为TXT值。</p>
                        <div>
                            <p>添加成功后请点击“生成证书”按钮</p>
                            <button class="btn btn-primary" id="generateCert">生成证书</button>
                        </div>
                      </div>
                      <div class="alert alert-success" id="certList">
                          <ul>
                            
                          </ul>
                      </div>
                      <div class="alert alert-danger" id="err">
                        出错啦：
                        <pre></pre>
                      </div>
                  </div>
                </div>
              </div>
            </div>

        </div>
      </div>
    </div>
{% endblock %}

{% block js %}
    <script src="/static/js/cert_apply.js"></script>
{% endblock %}