<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/static/css/mycss/error_tip.css">
    <style>
    * {
    	margin: 0;
    	padding: 0;
    }
    .box {
    	width: 450px;
    	height: 240px;
    	margin: 150px auto;
    }
    .iconfont {
    	font-size: 200px;
    }
    p {
    	font-size: 20px;
    	color: #000;
    	font-weight: bolder;
    	margin-top: 10px;
    	text-align: center;
    }
    </style>
</head>
<body>
    <div class="box">
    	<div>
    		<span class="iconfont icon-icon-test"></span>
    	</div>
    	<p>抱歉！出错啦！</p>
    </div>
</body>
</html>