{% extends 'master.html' %}

{% block css %}
    <link rel="stylesheet" href="/static/css/mycss/index.css">
{% endblock %}

{% block content %}
        <div class="row J_mainContent animated fadeInRight" id="content-main">
            <!-- echarts图表部分 -->
            <div class="row">
                <div class="col-sm-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>网站监控统计</h5>
                        </div>
                        <div class="ibox-content">
                            <div style="height:400px" id="container-left"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>数据展示</h5>
                            <!-- 工具箱 -->
                        </div>
                        <div class="ibox-content">
                            <div style="height:400px" id="container-right"></div>
                        </div>
                    </div>
                </div>
            </div>



    <!-- echarts依赖项 -->
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>
    <!-- <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-gl/echarts-gl.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-stat/ecStat.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ZUONbpqGBsYGXNIYHicvbAbM"></script> 
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/simplex.js"></script> -->
    <!-- 左边视图canvas -->
    <script type="text/javascript">
    var dom = document.getElementById("container-left");
    var myChart = echarts.init(dom);
    var app = {};
    option = null;
    var scale = 1;
    var echartData = {{ pie_data | safe }}
          console.log(echartData)
    var rich = {
        yellow: {
            color: "#676a6c",
            fontSize: 30 * scale,
            padding: [5, 4],
            align: 'center'
        },
        total: {
            color: "#676a6c",
            fontSize: 30 * scale,
            align: 'center'
        },
        white: {
            color: "#676a6c",
            align: 'center',
            fontSize: 16 * scale,
            padding: [14, 0]
        },
        blue: {
            color: '#49dff0',
            fontSize: 20 * scale,
            align: 'center'
        },
        hr: {
            borderColor: '#0b5263',
            width: '100%',
            borderWidth: 1,
            height: 0,
        }
    };
    option = {
        backgroundColor: '#FFFFFF',
        title: {
            text:'总考生数',
            left:'center',
            top:'53%',
            padding:[21,0],
            textStyle:{
                color:'#fff',
                fontSize:16 * scale,
                align:'center'
            }
        },
        legend: {
            selectedMode:false,
            formatter: function(name) {
                var total = 0; //各科正确率总和
                var averagePercent; //综合正确率
                echartData.forEach(function(value, index, array) {
                    total += value.value;
                });
                return '{total|' + total + '}';
            },
            data: [echartData[0].name],
            // data: ['高等教育学'],
            // itemGap: 50,
            left: 'center',
            top: 'center',
            icon: 'none',
            align:'center',
            textStyle: {
                color: "#fff",
                fontSize: 16 * scale,
                rich: rich
            },
        },
        series: [{
            name: '总考生数量',
            type: 'pie',
            radius: ['50%', '40%'],
            hoverAnimation: false,
            color: ['#00cc33', '#ff0033', '#49dff0', '#034079', '#6f81da', '#00ffb4'],
            label: {
                normal: {
                    formatter: function(params, ticket, callback) {
                        var total = 0; //考生总数量
                        var percent = 0; //考生占比
                        echartData.forEach(function(value, index, array) {
                            total += value.value;
                        });
                        percent = ((params.value / total) * 100).toFixed(1);
                        return '{white|' + params.name + '}\n{hr|}\n{yellow|' + params.value + '}\n{blue|' + percent + '%}';
                    },
                    rich: rich
                },
            },
            labelLine: {
                normal: {
                    length: 55 * scale,
                    length2: 0,
                    lineStyle: {
                        color: '#0b5263'
                    }
                }
            },
            data: echartData
        }]
    };

      if (option && typeof option === "object") {
          myChart.setOption(option, true);
      }

    myChart.on('click', function (param){  
        var name=param.name;  
        if(name=="不检测"){  
            window.location.href="/webmoni/tables/notcheck/";  
        }else if(name=="异常"){  
            window.location.href="/webmoni/tables/fault/";  
        }else if(name=="正常"){  
            window.location.href="http://www.baidu.com";  
        }else{  
        window.location.href="http://www.baidu.com";  
        }                      
    });  
    </script>

    </div>
{% endblock %}


{% block js %}
<script src="/static/js/index.js"></script>
{% endblock %}

