{% extends 'master.html' %}

{% block css %}
    <link rel="stylesheet" href="/static/css/mycss/saltstack_playbook.css">
    <link rel="stylesheet" href="/static/css/ace/twilight.css">
{% endblock %}


{% block content %}
    <div class="ibox float-e-margins">
    <div class="col-sm-6">
        <div class="div_wrap">
            <div class="div_implement">
                <button type="button" class="btn btn-primary btn-upload-playbook" data-toggle="modal" data-target="#playBook">上传剧本</button>
                <div class="btn-group">
                    <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle">按组筛选 <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="/saltstack/playbook/">全部</a></li>
                        {%for row in data.project_list%}
                        <li><a href="/saltstack/playbook/{{row.name}}/">{{row.name}}</a></li>
                        {%endfor%}
                    </ul>
                </div>
            </div>
            <div class="line"></div>
            <div class="div_table">
                <table class="table table-striped table_host" data-toggle="table" data-height="">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>所属分组</th>
                        <th>剧本描述</th>
                        <th>所在路径</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for row in data.playbook_list %}
                    <tr name='playbook_row' playbook_id="{{ row.id }}">
                        <td>{{ forloop.counter }}</td>
                        <td>{{ row.project }}</td>
                        <td>{{ row.description }}</td>
                        <td>{{ row.applied_file }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <div class="col-sm-6">

        <!--上传剧本模态框-->
        <div class="modal inmodal play-book" id="playBook" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content animated bounceInRight">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span>
                        </button>
                        <h6 class="modal-title">上传剧本</h6>
                    </div>
                    <form id="uploadform" enctype="multipart/form-data">
                        <div class="modal-body">
                            <div>
                                <span>剧本文件规范：文件内容第一行注释是所属分组，第二行注释是用途描述</span>
                            </div>
                            <div class="play-book-example">
                                <span>示例：</span>
                                <div class="play-book-example-content">
                                    <div><span># Linux</span><span>***文件第一行内容：分组</span></div>
                                    <div><span># Linux系统初始化操作</span><span>***文件第二行内容：描述</span></div>
                                    <div><span># 第一行注释是剧本所属组，第二行注释是剧本描述</span><span>***文件第三行内容：备注</span></div>
                                    <div><span># </span><span>***文件第四行内容：空行</span></div>
                                    <div><span>正文开始</span><span>***文件第五行内容：正文</span></div>
                                </div>
                            </div>
                            <div class="choose-file"><input type="file" name="file_context" alt="" id="uploadFile">选择本地文件
                            </div>
                            <div class="show-file-name"><span>未选择任何文件</span></div>
                        </div>
                    </form>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" id="uploadPlayBook">上传</button>
                    </div>
                    <div class="modal-tips">
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <span>编辑剧本</span>&nbsp;&nbsp;<span id="playbook_path"></span>
                    <div class="edit_and_del">
                        <button type="button" id="edit_btn" class="btn btn-warning">编辑</button>
                        <button type="button" id="del_btn" class="btn btn-danger" data-toggle="modal" data-target="#delBtn">删除</button>
                    </div>
                    <div class="save_and_cancel">
                        <button type="button" id="save_btn" class="btn btn-warning" data-toggle="modal" data-target="#saveBtn">保存</button>
                        <button type="button" id="cancel_btn" class="btn btn-danger">取消</button>
                    </div>
                </div>
                <div class="panel-body">
                    <pre id="playbook_show">{{ data.file_context }}</pre>
                    <div id="playbook_editor" style="display: none">
                    </div>
                </div>

            </div>
        </div>
        <!--删除按钮模态框-->
        <div class="modal inmodal fade confirm-del" id="delBtn" tabindex="-1" role="dialog"  aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h6 class="modal-title">确定删除吗？</h6>
                    </div>
                    <!--<div class="modal-body">-->
                    <!--</div>-->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" id="confirmDel">确定</button>
                    </div>
                </div>
            </div>
        </div>
        <!--保存按钮模态框-->
        <div class="modal inmodal fade confirm-save" id="saveBtn" tabindex="-1" role="dialog"  aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h6 class="modal-title">确认保存修改吗？</h6>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" id="confirmSave">确定</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block js %}
    <script src="/static/js/saltstack_playbook.js"></script>
    <script src="/static/js/ace/src/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/ace/src/theme-monokai.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/ace/src/mode-yaml.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/ace/src/mode-javascript.js" type="text/javascript" charset="utf-8"></script>
    <script>
        var editor = ace.edit("playbook_editor");
        editor.setTheme("ace/theme/monokai")
        var yamlMode = ace.require("ace/mode/yaml").Mode;
        editor.session.setMode(new yamlMode());
        editor.setFontSize(14);
    </script>
{% endblock %}