{% extends 'master.html' %}

{% block css %}
    <link rel="stylesheet" href="/static/css/mycss/saltstack_playbook_exe.css">
{% endblock %}

{% block content %}
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="row row-lg">
            <div class="col-sm-6">
                <!-- Example Basic Sort -->
                <div class="host-wrap">
                    <div class="host-operation-heading">
                        <span class="host-title">主机列表</span>
                        <span>第一步：选择需要执行剧本的主机</span>
                        <div class="btn-group">
                            <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle">按组筛选 <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                    <li><a href="/saltstack/playbook_exe/all_projects/{{ data.filter_days }}/">全部</a></li>
                                {%for row in data.project_list%}
                                    <li><a href="/saltstack/playbook_exe/{{row.name}}/{{ data.filter_days }}/">{{row.name}}</a></li>
                                {%endfor%}
                            </ul>
                        </div>
                        <button type="button" class="btn btn-warning choose">选择 >></button>
                    </div>
                    <div>
                        <table class="table table-striped table_host">
                            <thead>
                            <tr>
                                <th><input type="checkbox" id="chooseAll"></th>
                                <th>序号</th>
                                <th>主机ID</th>
                                <th>IP地址</th>
                                <th>所在地</th>
                                <th>状态</th>
                            </tr>
                            </thead>

                            <tbody id="chooseTbody">
                            {% for row in data.minion_list %}
                                <tr>
                                    <td><input type="checkbox" onclick=""></td>
                                    <td minion_id="{{ row.salt_id }}">{{ forloop.counter }}</td>
                                    <td>{{ row.id }}</td>
                                    <td>{{ row.ipv4 }}</td>
                                    <td>{{ row.city }}</td>
                                    {% if row.status == 0 %}
                                    <td style="color: red">离线</td>
                                    {% elif row.status == 1 %}
                                    <td style="color: green">在线</td>
                                    {% elif row.status == 2 %}
                                    <td style="color: deepskyblue">检测中</td>
                                    {% else %}
                                    <td>异常</td>
                                    {% endif %}
                                </tr>

                            {% endfor %}
                            </tbody>

                        </table>
                    </div>
                </div>
                <!-- End Example Basic Sort -->
            </div>

            <div class="col-sm-6">
                <!-- Example Format Sort -->
                <div>
                    <div class="host-operation-heading">
                        <span>已选主机</span>
                        <span>第二步：确认已选择的主机</span>
                        <button type="button" class="btn btn-warning remove"><< 移除</button>
                        <button type="button" class="btn btn-danger empty">清空所选</button>
                    </div>
                    <div>
                        <table class="table table-striped table_host">
                            <thead>
                            <tr>
                                <th><input type="checkbox" id="receivedAll"></th>
                                <th>序号</th>
                                <th>主机ID</th>
                                <th>IP地址</th>
                                <th>所在地</th>
                                <th>状态</th>
                            </tr>
                            </thead>
                            <tbody id="haveChosen">
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- End Example Format Sort -->
            </div>

            <div class="clearfix hidden-xs"></div>

            <div class="col-sm-6">
                <!-- Example Custom Sort -->
                <div>
                    <div class="host-operation-heading">
                        <span>剧本列表</span>
                        <span>第三步：选择需要执行的剧本</span>
                        <button type="button" class="btn btn-success implement" data-toggle="modal" data-target="#startImplement">开始执行</button>
                    </div>
                    <div class="play-book-implement">
                        <table class="table table-striped table_host">
                            <thead>
                            <tr>
                                <th>单选</th>
                                <th>序号</th>
                                <th>剧本</th>
                                <th>描述信息</th>
                                <th>所在组</th>
                            </tr>
                            </thead>
                            <tbody id="playbookList">
                            {% for row in data.playbook_list %}
                            <tr name="{{ row.sls }}">
                                <td><input type="radio" name="playbook"></td>
                                <td playbook_id="{{ row.id }}">{{ forloop.counter }}</td>
                                <td>{{ row.sls }}</td>
                                <td>{{ row.description }}</td>
                                <td>{{ row.project }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- End Example Custom Sort -->
            </div>

            <div class="col-sm-6">
                <!-- Example Hide Header -->
                <div>
                    <div class="host-operation-heading">
                        <span>任务日志</span>
                        <span>第四步：查看剧本执行结果 【 {{ data.from_day|date:"Y-m-d 00:00:00" }} ~ {{ data.to_day|date:"Y-m-d H:i:s" }} 】</span>
                        <div class="btn-group classify">
                            <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle">日期筛选<span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="/saltstack/playbook_exe/{{ data.filter_project }}/1/">一天内</a></li>
                                <li><a href="/saltstack/playbook_exe/{{ data.filter_project }}/3/">三天内</a></li>
                                <li><a href="/saltstack/playbook_exe/{{ data.filter_project }}/7/">七天内</a></li>
                                <li><a href="/saltstack/playbook_exe/{{ data.filter_project }}/30/">三十天内</a></li>
                                <li><a href="/saltstack/playbook_exe/{{ data.filter_project }}/8888/">全部</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="play-book-log">
                        <table class="table table-striped table_host">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>任务编号</th>
                                <th>任务描述</th>
                                <th>开始时间</th>
                                <th>结束时间</th>
                                <th>执行结果</th>
                            </tr>
                            </thead>
                            <tbody id="implementLog">
                            {% for row in data.jobs_list %}
                            <tr>
                                <td>{{ forloop.revcounter }}</td>
                                <td style="" jid="{{ row.jid }}" number="{{ row.number }}">{{ row.number }}</td>
                                <td description="{{ row.description }}">{{ row.description }}</td>
                                <td ctime="{{ row.create_time|date:'H:i:s' }}">{{ row.create_time|date:"H:i:s" }}</td>
                            {#                                0=排队 1=执行中 2=执行完成 3=异常    #}
                                {% if row.status == 0 %}
                                <td style="color: yellowgreen; text-decoration: underline; cursor: pointer;"><a href="" onclick="choosePlaybook()">正在排队</a></td>
                                {% elif row.status == 1 %}
                                <td style="color: turquoise; text-decoration: underline; cursor: pointer;"><a href="" onclick="choosePlaybook()">正在执行</a></td>
                                {% elif row.status == 2  %}
                                <td style="color: mediumblue" ftime="{{ row.finish_time|date:'H:i:s' }}">{{ row.finish_time|date:"H:i:s" }}</td>
                                {% elif row.status == 3 %}
                                <td style="color: darkgrey">任务异常</td>
                                {% endif %}
                                {% if row.status == 0 or row.status == 1 %}
                                <td></td>
                                {% elif row.status == 2 %}
                                <td style="color: mediumblue;text-decoration: underline"><a href="/saltstack/playbook_exe_ret/{{ row.number }}/">[{{ row.success_total }}/{{ row.targets_total }}] 查看</a></td>
                                {% else %}
                                <td style="color: darkgrey;text-decoration: underline" number="{{ row.number }}" class="showInfo" data-toggle="modal" data-target="#myShow">[{{ row.success_total }}/{{ row.targets_total }}] 查看</td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- End Example Hide Header -->
            </div>
            <!--开始执行模态框-->
            <div class="modal inmodal implement-operation" id="startImplement" tabindex="-1" role="dialog"  aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content animated fadeIn">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h6>执行操作</h6>
                        </div>
                        <div class="modal-body">
                            <div class="implement-content">
                                <p>您已选择&nbsp;<span class="hostNum"></span>&nbsp;台主机</p>
                                <div>您已选择剧本：
                                    <p>《<span class="playbookType"></span>》</p>
                                </div>
                                <p>是否确认执行？</p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="confirmImplement">确认</button>
                            <button type="button" class="btn btn-white" data-dismiss="modal">取消</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--任务异常模态框-->
            <div class="modal inmodal fade" id="myShow" tabindex="-1" role="dialog"  aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content details">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <div class="implement-result">
                                <div class="number_and_ctime">
                                    <div><span>任务编号：</span><span class="jobNumber"></span></div>
                                    <div><span>开始时间：</span><span class="jobCtime"></span></div>
                                    <div><span>任务描述：</span><span class="jobDesc"></span></div>
                                </div>
                                <!--<div class="desc_and_ftime">-->

                                <!--</div>-->
                            </div>
                        </div>
                        <div class="modal-body">
                            <pre class="wrap"></pre>
                            <!-- 动画 -->
                            <div id="playbookResult">
                                <h3>正在加载···</h3>
                                <div class="sk-spinner sk-spinner-wave">
                                    <div class="sk-rect1"></div>
                                    <div class="sk-rect2"></div>
                                    <div class="sk-rect3"></div>
                                    <div class="sk-rect4"></div>
                                    <div class="sk-rect5"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
    <script src="/static/js/saltstack_playbook_exe.js"></script>
<!--<script src="/static/js/json2yaml.js"></script>-->
{% endblock %}