{% extends 'master.html' %}

{% block css %}
    <link rel="stylesheet" href="/static/css/mycss/index.css">
    <link rel="stylesheet" href="/static/css/mycss/show_areas.css">
{% endblock %}

{% block content %}
        <!--右侧部分开始-->
            <div class="row J_mainContent animated fadeInRight" id="content-main">
                <!-- 头部横条 -->
                <div class="ibox-title">
                    <div class="pull-left btns">
                        <button type="button" class="btn btn-outline btn-success"><a href="#">查看</a></button>
                        <button type="button" class="btn btn-outline btn-info"><a href="#">查看</a></button>
                        <button type="button" class="btn btn-outline btn-warning"><a href="#">查看</a></button>
                        <button type="button" class="btn btn-outline btn-danger"><a href="#">查看</a></button>
                    </div>
                    <div class="pull-right">
                        <div class="select_area">
                            <div class="btn-group select_btn1">
                                <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle">项目 <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">项目1</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="btn-group select_btn2">
                                <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle">域名 <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">域名1</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <form role="search" method="post" action="#">
                            <div class="form-group">
                                <input type="search" placeholder="请输入您需要查找的内容 …" class="form-control" name="top-search" id="inputSearch">
                            </div>
                            <button type="submit" class="btn btn-primary confirm" >确定</button>
                        </form>
                    </div>                                
                </div>
                <!-- echarts图表 -->
                <div class="row ">
                    <div class="col-sm-6">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <div class="pull-left">
                                    <h5 >地图展示</h5>
                                </div>            
                            </div>
                            <div class="ibox-content">
                                <div style="height:600px" id="container-left"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <div class="pull-left">
                                    <h5 >数据展示</h5>
                                </div>                  
                            </div>
                            <div class="ibox-content">
                                <div style="height:600px" id="container-right"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 右下角版权标识 -->
            <div class="footer">
                <div class="pull-right">&copy; 2016-2018 <a href="#" target="_blank">TS网络监控</a>
                </div>
            </div>
        <!--右侧部分结束-->
    <!-- echarts依赖项 -->
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-gl/echarts-gl.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-stat/ecStat.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ZUONbpqGBsYGXNIYHicvbAbM"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/simplex.js"></script>
    <!-- echarts图表-左边 -->
    <script>
    var dom = document.getElementById("container-left");
    var myChart = echarts.init(dom);
    var app = {};
    option = null;
    // 随机生成1000以内的整数 用来模拟数据
    function randomData() {
    return Math.round(Math.random()*1000);
    }

    option = {
    title: {
        text: '区域概览',
        subtext: '网站区域服务质量检测',
        left: 'center'
    },
    tooltip: {
        trigger: 'item',
        // formatter: function(params) {
        //     return params.name + '：' + params.data['value'] + '%'
        // },
    },
    legend: {
        orient: 'vertical',
        left: 'left',
        data:['iphone6','iphone7','iphoneX']
    },
    visualMap: {
        min: 0,
        max: 1000,
        left: 'left',
        top: 'bottom',
        text: ['高','低'],           // 文本，默认为数值文本
        calculable: true,
        inRange:{
            color:['#99ffcc','#d00000']
        }
    },
    toolbox: {
        show: true,
        orient: 'vertical',
        left: 'right',
        top: 'center',
        feature: {
            dataView: {readOnly: false},
            restore: {},
            saveAsImage: {}
        }
    },
    series: [
        {
            name: '北京',
            type: 'map',
            mapType: 'china',
            label: {
                normal: {
                    show: true
                },
                emphasis: {
                    show: true
                }
            },
            data:[
                {name: '北京',value: 50 },
            ]
        }
    ]
    };
    if (option && typeof option === "object") {
    myChart.setOption(option, true);
    }
    </script>
    <!-- echarts图表-右边 -->
    <script>
      var dom = document.getElementById("container-right");
      var myChart = echarts.init(dom);
      var app = {};
      option = null;
      option = {
          xAxis: {
              type: 'category',
              data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
          },
          yAxis: {
              type: 'value'
          },
          series: [{
              data: [820, 932, 901, 934, 1290, 1330, 1320],
              type: 'line',
              smooth: true
          }]
      };

      if (option && typeof option === "object") {
          myChart.setOption(option, true);
      }
    </script>
{% endblock %}

{% block js %}
    <script src="/static/js/index.js"></script>
    <script src="/static/js/show_areas.js"></script>
{% endblock %}