{% extends "master.html" %}

{% block css %}
<link rel="stylesheet" href="/static/css/plugins/sweetalert/sweetalert.css">
<link rel="stylesheet" href="/static/css/mycss/trust_asia_cert_list.css">
{% endblock %}

{% block content %}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>证书列表</h5>
                    </div>
                    <div class="ibox-back">
                        <a href="/cert/TrustAsia_order_list/"><< 订单列表</a>
                    </div>
                    <div class="ibox-content">
                        <!--表格-->
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>域名</th>
                                    <th>品牌</th>
                                    <th>剩余天数</th>
                                    <th>创建时间</th>
                                    <th>开始时间</th>
                                    <th>结束时间</th>
                                    <th>更多操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for row in one_page %}
                                <tr>
                                    <td>{{ row.common_name }}</td>
                                    <td>{{ row.brand }}</td>
                                    <td>{{ row.remaining_days }}天</td>
                                    <td>{{ row.created_at }}</td>
                                    <td>{{ row.begin_date }}</td>
                                    <td>{{ row.end_date }}</td>
                                    <td>
                                        <div class="table-cell">
                                            <div>
                                                <button class="btn btn-primary btnDetail" restDay="{{ row.remaining_days }}" sha1="{{ row.sha1 }}" data-toggle="modal" data-target="#myModal"><span>详情</span></button>
                                                <button class="btn btn-success cert_download" data-toggle="modal" data-target="#myModalDl" domain="{{ row.common_name }}"><span>下载</span></button>
                                                <button class="btn btn-danger" sha1="{{ row.sha1 }}"><span>删除</span></button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <!--分页-->
                        <div class="dataTables_paginate paging_simple_numbers pagination-box" id="DataTables_Table_0_paginate">
                            <ul class="pagination right-position">
                                {% if one_page.has_previous %}
                                <li class="paginate_button previous" aria-controls="DataTables_Table_0" tabindex="0" id="DataTables_Table_0_previous">
                                    <a href="/cert/TrustAsia_cert_list/{{ one_page.previous_page_number}}">上一页</a>
                                </li>
                                {% endif %}
                                {% for row in paginator.page_range %}
                                <li class="paginate_button" aria-controls="DataTables_Table_0" tabindex="0">
                                    <a href="/cert/TrustAsia_cert_list/{{ row }}/">{{ row }}</a></li>
                                {% endfor %}
                                {% if one_page.has_next %}
                                <li class="paginate_button next" aria-controls="DataTables_Table_0" tabindex="0" id="DataTables_Table_0_next">
                                    <a href="/cert/TrustAsia_cert_list/{{ one_page.next_page_number }}">下一页</a>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                        <!--模态框--详情界面-->
                        <div class="modal inmodal detail" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content animated bounceInRight modal-detail">
                                    <div class="modal-header">
                                        <span>证书详情</span>
                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="body-detail">
                                            <p>
                                                <span>通用名称：</span>
                                                <span id="generalName"></span>
                                            </p>
                                            <p>
                                                <span>品牌：</span>
                                                <span id="brand"></span>
                                            </p>
                                            <p>
                                                <span>备用名称：</span>
                                                <span id="backupName"></span>
                                            </p>
                                            <p>
                                                <span>颁发者Hash：</span>
                                                <span id="issuerSha1"></span>
                                            </p>
                                            <p>
                                                <span>公钥算法：</span>
                                                <span id="keyAlgo"></span>
                                            </p>
                                            <p>
                                                <span>签名算法：</span>
                                                <span id="signAlgo"></span>
                                            </p>
                                            <p>
                                                <span>SHA1：</span>
                                                <span id="sha1Val"></span>
                                            </p>
                                            <p>
                                                <span>SHA2：</span>
                                                <span id="sha2Val"></span>
                                            </p>
                                            <p>
                                                <span>SN：</span>
                                                <span id="snVal"></span>
                                            </p>
                                            <p>
                                                <span>开始时间：</span>
                                                <span id="beginDate"></span>
                                            </p>
                                            <p>
                                                <span>到期时间：</span>
                                                <span id="endDate"></span>
                                            </p>
                                            <p>
                                                <span>剩余天数：</span>
                                                <span id="restDay"></span>
                                            </p>
                                            <p>
                                                <span>添加时间：</span>
                                                <span id="addDate"></span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" id="closeBtn">关闭</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--模态框--下载界面-->
                        <div class="modal inmodal download" id="myModalDl" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content animated flipInY">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                        <h5 class="modal-title">证书下载</h5>
                                        <p>请选择需要下载的类型</p>
                                    </div>
                                    <div class="modal-body">
                                        <div>
                                            <a href="" id="cert_for_nginx">下载适用Nginx证书</a>
                                            <a href="" id="cert_for_iis">下载适用IIS证书</a>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-white" data-dismiss="modal">取消</button>
                                        <button type="button" class="btn btn-primary">确认</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
<script src="/static/js/content.min.js"></script>
<script src="/static/js/plugins/sweetalert/sweetalert.min.js"></script>
<script src="/static/js/trust_asia_cert_list.js"></script>
{% endblock %}