{% extends 'master.html' %}

{% block css %}
    <link rel="stylesheet" href="/static/css/mycss/index.css">
    <link rel="stylesheet" href="/static/css/mycss/webmoni_areas.css">
{% endblock %}

{% block content %}
        <!--右侧部分开始-->
            <div class="row J_mainContent animated fadeInRight" id="content-main">
                <!-- 头部横条 -->
                <div class="ibox-title">
                    <div class="pull-left btns">
                            <div class="btn-group select_btn1">
                                <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle ">选择域名 <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-domains" id="domainsUl">
                                    {% for project in project_list %}
                                    <li><a href="#">{{ project.name }}</a>
                                        <ul class="third-menu">
                                            {% for i in project.domainname_set.all %}
                                            <li>
                                                <a href="/webmoni/areas-{{ i.id }}/">{{ i.url }}</a>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                    </div>
                    <div class="pull-right">
                        <div class="form-group">
                            <input type="search" placeholder="请输入您需要查找的内容 …" class="form-control" name="top-search" id="inputSearch">
                        </div>
                        <button type="submit" class="btn btn-primary confirm" id="btn_confirm">确定</button>
                        <div class="alert alert-danger alert-dismissible fade in" role="alert">
                          <h4>温馨提示</h4>
                          <p id="search_tip"></p>
                        </div>
                    </div>                                
                </div>
                <!-- echarts图表 -->
                <div class="row ">
                    <div class="col-sm-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <div class="sk-spinner sk-spinner-pulse pull-left"></div>
                                <div class="pull-left">
                                    <h5 id="domainName">域名：{{ graph_data.domain }}</h5>
                                </div>
                                <div class="pull-left">
                                    <h5 >状态： {{ graph_data.status }}</h5>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <div style="height:400px" id="container-right"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 表格部分 -->
                <div class="tableArea">
                  <table class="table table-striped table-bordered col-xs-12">
                    <thead>
                        <tr>
                            <th>区域</th>
                            <th>响应码</th>
                            <th>总耗时</th>
                            <th>更新时间</th>

                        </tr>
                    </thead>
                    <tbody id="content">
                    {% for row in defaultDomainData %}
                        <tr value="{{ row.url.url }}" >
                            <td name="node" value="{{ row.node.node }}">{{ row.node.node }}</td>
                            <td>{{ row.http_code }}</td>
                            <td name="total_time" value="{{ row.total_time }}">{{ row.total_time }}ms</td>
                            <td>{{ row.datetime }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
            </div>
        <!--右侧部分结束-->
    <!-- echarts依赖项 -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/plugins/echarts/echarts3.8.5.min.js"></script>

    <!-- echarts图表-右边 -->
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>
    <script src="/static/js/webmoni_areas.js"></script>
    <script>
    var dom = document.getElementById("container-right");
    var myChart = echarts.init(dom);
    var app = {};
    option = null;



    option = {
        backgroundColor: '#394056',
        title: {
            text: '近期延时',
            textStyle: {
                fontWeight: 'normal',
                fontSize: 16,
                color: '#F1F1F3'
            },
            left: '6%'
        },
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                lineStyle: {
                    color: '#57617B'
                }
            }
        },
        legend: {
            icon: 'rect',
            itemWidth: 14,
            itemHeight: 5,
            itemGap: 13,
            data: [],
            right: '4%',
            textStyle: {
                fontSize: 12,
                color: '#F1F1F3'
            }
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: [{
            type: 'category',
            boundaryGap: false,
            axisLine: {
                lineStyle: {
                    color: '#57617B'
                }
            },
            data: []
        }],
        yAxis: [{
            type: 'value',
            name: '单位（ms）',
            axisTick: {
                show: false
            },
            axisLine: {
                lineStyle: {
                    color: '#57617B'
                }
            },
            axisLabel: {
                margin: 10,
                textStyle: {
                    fontSize: 14
                }
            },
            splitLine: {
                lineStyle: {
                    color: '#57617B'
                }
            }
        }],
        series: []
    };

    if (option && typeof option === "object") {
        var graph_data = {{ graph_data | safe }}
        var new_options = update_graph(option,graph_data)
        myChart.setOption(new_options, true);
        var int = self.setInterval("timing_update(option,graph_data['id'])",60000)
    }

    $(function () {
      var graph_data = {{ graph_data | safe }}
      console.log(graph_data)
      if ( graph_data['check_id'] == 1){
          $('#edit_notadd').attr('checked',true)
      }
      if ( graph_data['warning'] == 1){
          $('#edit_notwarn').attr('checked',true)
      }
    })
    </script>
{% endblock %}

{% block js %}
    <script src="/static/js/index.js"></script>
    <script src="/static/js/webmoni_areas.js"></script>
{% endblock %}