/* 左侧边栏样式调整 */
#side-menu>li:nth-of-type(5)>ul>li:nth-of-type(2)>a {
  color: #fff;
}

#content-main>.col-sm-12 {
  margin-top: 50px;
  padding: 0 300px;
}
#content-main>.col-sm-12>.panel {
  min-width: 530px;
}
.ibox {
  margin-bottom: 0;
}
form {
  padding: 15px 50px;
}
.certInput {
  border: 1px solid #1ab394;
  width: 400px !important;
}
form>div {
  margin-top: 50px;
}
#wave {
  display: none;
}
#wave>h3 {
  text-align: center;
}
#err {
  display: none;
}
#TXT_info {
  padding-top: 20px;
  display: none;
}
#TXT_info>h3 {
  display: inline;
}
#TXT_info>span {
  font-size: 20px;
  font-weight: 900;
  padding-bottom: 20px;
  display: inline-block;
}
#TXT_info>p {
  font-size: 18px;
}
#TXT_info>p:nth-of-type(2) {
  margin-top: 60px;
}