.ibox {
    margin-top: 15px;
}
.div_wrap {
    position: relative;
    height: 72px;
    background-color: #fff;
}
.div_search {
    position: relative;
    height: 72px;
    background-color: #fff;
}
.div_table {

}
table thead tr th:nth-child(1) {
    width: 10%;
}
table thead tr th:nth-child(2) {
    width: 10%;
}
table thead tr th:nth-child(3) {
    width: 40%;
}
table thead tr th:nth-child(4) {
    width: 20%;
}
table thead tr th:nth-child(5) {
    width: 20%;
}

table tbody tr td:nth-child(1) {
    width: 10%;
}
table tbody tr td:nth-child(2) {
    width: 10%;
}
table tbody tr td:nth-child(3) {
    width: 40%;
}
table tbody tr td:nth-child(4) {
    width: 20%;
}
table tbody tr td:nth-child(5) {
    width: 20%;
}
.div_table table tbody {
    display:block;
    height: 720px;
    overflow-y: scroll;
}
table thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
.div_search > input {
    width: 200px;
    position: absolute;
    left: 20px;
    top: 20px;
}
.div_search > div {
    width: 200px;
    position: absolute;
    left: 250px;
    top: 20px;
}
.div_search > div i {
    position: absolute;
    right: 10px;
    top: 8px;
    font-size: 20px;
}
.div_search .btnSearch {
    position: absolute;
    right: 200px;
    top: 20px;
    width: 100px;
}
.div_search button:last-child {
    position: absolute;
    right: 50px;
    top: 20px;
    width: 100px;
}
.div_table {
    position: relative;
}
.div_table table thead {
    position: relative;
    left: 0;
    top: 0;
}

/*右侧执行界面*/
.div_implement {
    position: relative;
    height: 72px;
    background-color: #fff;
}
.div_implement div {
    position: absolute;
    left: 100px;
    top: 20px;
    width: 400px;
}
.div_implement div i {
    position: absolute;
    right: 15px;
    top: 8px;
    font-size: 20px;
}
.div_implement button {
    position: absolute;
    right: 150px;
    top: 20px;
    width: 100px;
}
.div_list {
    border: 1px solid #000;
}