* {
    margin: 0;
    padding: 0;
}
#side-menu>li:nth-of-type(3)>ul>li:nth-of-type(2)>a {
    color: #fff;
}
.float-e-margins .btn {
     margin-bottom: 0;
}
.ibox {
    margin-top: 20px;
}
.ibox-content {
    height: 840px;
}
.row {
    height: 100%;
}
.col-sm-6 {
    height: 50%;
}
table tbody {
    display:block;
    height: 316px;
    overflow-y: scroll;
}
table thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}

/*主机列表*/
table thead tr th {
    text-align: left;
}
table thead tr th:nth-child(1) {
    width: 5%;
}
table thead tr th:nth-child(2) {
    width: 6%;
}
table thead tr th:nth-child(3) {
    width: 45%;
}
table thead tr th:nth-child(4) {
    width: 15%;
}
table thead tr th:nth-child(5) {
    width: 10%;
}
table thead tr th:nth-child(6) {
    width: 6%;
}
table thead tr th:nth-child(7) {
    width: 13%;
}
table tbody tr td {
    text-align: left;
}
table tbody tr td:nth-child(1) {
    width: 5%;
}
table tbody tr td:nth-child(2) {
    width: 6%;
}
table tbody tr td:nth-child(3) {
    width: 45%;
}
table tbody tr td:nth-child(4) {
    width: 15%;
}
table tbody tr td:nth-child(5) {
    width: 10%;
}
table tbody tr td:nth-child(6) {
    width: 6%;
}
table tbody tr td:nth-child(7) {
    width: 13%;
}

.host-operation-heading {
    height: 40px;
    position: relative;
    background-color: #2f4050;
    padding-left: 20px;
}
.clearfix.hidden-xs {
    margin-bottom: 20px;
}
.host-operation-heading .btn-group {
    position: absolute;
    right: 130px;
    top: -15px;
}
.host-operation-heading .btn-group button {
    width: 94px;
}
.dropdown-menu {
    min-width: 94px;
}
.host-operation-heading button {
    width: 94px;
}
.host-operation-heading ul li a {
    font-size: 14px;
    padding: 3px 10px;
}
.host-operation-heading .choose {
    position: absolute;
    right: 20px;
    top: 3px;
}
.host-operation-heading span:first-child {
    font-size: 16px;
    line-height: 40px;
    font-weight: 700;
    color: #fff;
}
.host-operation-heading span:nth-child(2) {
    font-size: 14px;
    line-height: 40px;
    font-weight: normal;
    padding-left: 20px;
    color: #1ab394;
}
/*已选择的主机*/
.host-operation-heading .remove {
    position: absolute;
    right: 130px;
    top: 3px;
}
.host-operation-heading .empty {
    position: absolute;
    right: 20px;
    top: 3px;
}
.table thead tr {
    background-color: #e7eaec;
}
/*剧本列表*/
.host-operation-heading .implement {
    position: absolute;
    right: 20px;
    top: 3px;
}
.host-operation-heading .classify {
    position: absolute;
    right: 20px;
    top: -15px;
}

.play-book-implement table thead tr th:nth-child(1) {
    width: 10%;
}
.play-book-implement table thead tr th:nth-child(2) {
    width: 10%;
}
.play-book-implement table thead tr th:nth-child(3) {
    width: 30%;
}
.play-book-implement table thead tr th:nth-child(4) {
    width: 30%;
}
.play-book-implement table thead tr th:nth-child(5) {
    width: 20%;
}

.play-book-implement table tbody tr td:nth-child(1) {
    width: 10%;
}
.play-book-implement table tbody tr td:nth-child(2) {
    width: 10%;
}
.play-book-implement table tbody tr td:nth-child(3) {
    width: 30%;
}
.play-book-implement table tbody tr td:nth-child(4) {
    width: 30%;
}
.play-book-implement table tbody tr td:nth-child(5) {
    width: 20%;
}

/*剧本执行任务日志*/
.play-book-log table thead tr th:nth-child(1) {
    width: 10%;
}
.play-book-log table thead tr th:nth-child(2) {
    width: 20%;
}
.play-book-log table thead tr th:nth-child(3) {
    width: 25%;
}
.play-book-log table thead tr th:nth-child(4) {
    width: 15%;
}
.play-book-log table thead tr th:nth-child(5) {
    width: 15%;
}
.play-book-log table thead tr th:nth-child(6) {
    width: 15%;
}

.play-book-log table tbody tr td:nth-child(1) {
    width: 10%;
}
.play-book-log table tbody tr td:nth-child(2) {
    width: 20%;
}
.play-book-log table tbody tr td:nth-child(3) {
    width: 25%;
}
.play-book-log table tbody tr td:nth-child(4) {
    width: 15%;
}
.play-book-log table tbody tr td:nth-child(5) {
    width: 15%;
}
.play-book-log table tbody tr td:nth-child(6) {
    width: 15%;
    cursor: pointer;
}

/*开始执行模态框*/
.implement-operation .modal-header {
    padding: 10px;
}
.implement-operation .modal-header h6 {
    font-size: 16px;
    font-weight: 700;
}
.implement-operation .modal-content {
    margin-top: 70px;
}
.implement-operation .modal-body {
    position: relative;
    padding: 0;
}
.implement-content {
    padding-top: 20px;
    padding-left: 100px;
    font-size: 14px;
    padding-bottom: 20px;
}
.implement-content div p {
    margin-left: 90px;
}
.implement-content .hostNum {
    font-weight: 700;
    font-size: 16px;
}
.implement-content .playbookType {
    font-weight: 700;
}
/*任务异常模态框*/
.details .modal-header {
    padding: 5px 15px;
    padding-bottom: 0;
    text-align: left;
}
.details .modal-header .implement-result {
    font-size: 14px;
    color: #000;
}
.details .modal-header .implement-result .number_and_ctime,
.details .modal-header .implement-result .desc_and_ftime {
    margin: 5px 0;
}
.details .modal-header .implement-result .number_and_ctime div,
.details .modal-header .implement-result .desc_and_ftime div {
    display: inline-block;
}
.desc_and_ftime {
    position: relative;
}
.number_and_ctime div,
.desc_and_ftime div {
    width: 300px;
    text-align: left;
}
.desc_and_ftime div:nth-child(2) {
    width: 200px;
}
.lookupJid {
    position: absolute;
    right: -20px;
    top: 0;
    color: #999;
}
.modal-content.details {
    width: 400px;
    height: 200px;
    margin-top: 200px;
}
.details .modal-body {
    width: 100%;
    /*height: 720px;*/
    padding: 0;
}
.details .modal-body .wrap {
    padding: 10px 20px;
    width: 100%;
    height: 100%;
    overflow-x: auto;
    overflow-y: auto;
}

/*动画*/
#playbookResult {
    position: absolute;
    left: 50%;
    top: 30%;
    margin-left: -5%;
    display: none;
}
