* {
    margin: 0;
    padding: 0;
}
.ibox {
    margin-top: 20px;
}
.ibox-content {
    height: 840px;
}
.row {
    height: 100%;
}
.col-sm-6 {
    height: 50%;
}
table tbody {
    display:block;
    height: 316px;
    overflow-y: scroll;
}
table thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}

/*主机列表*/
table thead tr th {
    text-align: left;
}
table thead tr th:nth-child(1) {
    width: 10%;
}
table thead tr th:nth-child(2) {
    width: 7%;
}
table thead tr th:nth-child(3) {
    width: 40%;
}
table thead tr th:nth-child(4) {
    width: 20%;
}
table thead tr th:nth-child(5) {
    width: 15%;
}
table thead tr th:nth-child(6) {
    width: 8%;
}
table tbody tr td {
    text-align: left;
}
table tbody tr td:nth-child(1) {
    width: 10%;
}
table tbody tr td:nth-child(2) {
    width: 7%;
}
table tbody tr td:nth-child(3) {
    width: 40%;
}
table tbody tr td:nth-child(4) {
    width: 20%;
}
table tbody tr td:nth-child(5) {
    width: 15%;
}
table thead tr th:nth-child(6) {
    width: 8%;
}
.host-operation-heading {
    height: 40px;
    position: relative;
    /*background-color: #000;*/
}
.clearfix.hidden-xs {
    margin-bottom: 20px;
}
.host-operation-heading .btn-group {
    position: absolute;
    right: 120px;
    top: -15px;
}
.host-operation-heading .btn-group button {
    width: 94px;
}
.dropdown-menu {
    min-width: 94px;
}
.host-operation-heading ul li a {
    font-size: 14px;
    padding: 3px 10px;
}
.host-operation-heading .choose {
    position: absolute;
    right: 20px;
    top: 3px;
}
.host-operation-heading span {
    font-size: 16px;
    line-height: 40px;
    margin-left: 30px;
    font-weight: 700;
}

/*已选择的主机*/
.host-operation-heading .remove {
    position: absolute;
    right: 130px;
    top: 3px;
}
.host-operation-heading .empty {
    position: absolute;
    right: 20px;
    top: 3px;
}

/*剧本列表*/
.host-operation-heading .implement {
    position: absolute;
    right: 20px;
    top: 3px;
}
.play-book-implement table thead tr th:nth-child(1) {
    width: 10%;
}
.play-book-implement table thead tr th:nth-child(2) {
    width: 10%;
}
.play-book-implement table thead tr th:nth-child(3) {
    width: 30%;
}
.play-book-implement table thead tr th:nth-child(4) {
    width: 30%;
}
.play-book-implement table thead tr th:nth-child(5) {
    width: 20%;
}

.play-book-implement table tbody tr td:nth-child(1) {
    width: 10%;
}
.play-book-implement table tbody tr td:nth-child(2) {
    width: 10%;
}
.play-book-implement table tbody tr td:nth-child(3) {
    width: 30%;
}
.play-book-implement table tbody tr td:nth-child(4) {
    width: 30%;
}
.play-book-implement table tbody tr td:nth-child(5) {
    width: 20%;
}

/*剧本执行任务日志*/
.play-book-log table thead tr th:nth-child(1) {
    width: 10%;
}
.play-book-log table thead tr th:nth-child(2) {
    width: 30%;
}
.play-book-log table thead tr th:nth-child(3) {
    width: 30%;
}
.play-book-log table thead tr th:nth-child(4) {
    width: 15%;
}
.play-book-log table thead tr th:nth-child(5) {
    width: 15%;
}

.play-book-log table tbody tr td:nth-child(1) {
    width: 10%;
}
.play-book-log table tbody tr td:nth-child(2) {
    width: 30%;
}
.play-book-log table tbody tr td:nth-child(3) {
    width: 30%;
}
.play-book-log table tbody tr td:nth-child(4) {
    width: 15%;
}
.play-book-log table tbody tr td:nth-child(5) {
    width: 15%;
}