/* 左侧选项按钮样式调整 */
.ibox-title {
  position: relative;
}
.btn-group {
  position: absolute;
}
.dropdown-menu {
  min-width: 65px;
  top: 34px;
}
.dropdown-menu-my {
  top: 50px;
}
.dropdown-menu>li>a {
  padding: 3px 14px;
}

/* 右侧输入框样式调整 */
.form-group {
  margin-bottom: 0px;
  position: absolute;
  right: 60px;
  top: -9px;
  width: 200px;
}
.form-group input {
  border: 1px solid #1BB394;
  border-radius: 10px;
  height: 34px;
}
.pull-right {
  position: relative;
}
.btn.confirm {
  margin-bottom: 0px;
  position: absolute;
  top: -9px;
  right: 0px;
}
ul li {
  padding: 0;
  margin: 0;
  list-style: none;
}
.dropdown-menu>li {
  position: relative;
}
.third-menu {
  position: absolute;
  width: 120px;
  background-color: #F5F5F5;
  top: 0px;
  right: -120px;
  padding-left: 0px;
  border: 1px solid rgb(247, 244, 244);
  box-shadow: #ccc 2px 2px 2px;
}
.third-menu a {
  display: block;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
.third-menu a:hover {
  background-color: #ccc;
}

#content-main>.ibox-title {
  margin-bottom: 10px;
  margin-top: 10px;
}
.select_btn1 {
  position: absolute;
  top: -27px;
  left: -400px;
}
.select_btn1 .btn.btn-primary.dropdown-toggle {
  width: 100px;
}

.select_btn2 {
  position: absolute;
  top: -27px;
  left: -500px;
}
.ibox-title>.btns  {
  position: absolute;
  top: 5px;
}
/* 左上角按钮 */
btn-success a {
  color: inherit;
}
.btn-info a {
  color: inherit;
}
.btn-warning a {
  color: inherit;
}
.btn-danger a {
  color: inherit;
}

/* 删除按钮模态框 */
.delbtn {
  width: 200px;
}
.delbtn .modal-title,
.delbtn .modal-footer {
  text-align: center;
}
.tableArea {
  padding: 10px 20px;
}
.tableArea th,
.tableArea td {
  text-align: center;
}
.input-group {
  margin-top: 5px;
}
.input-group-addon {
  width: 108px;
  float: left;
  margin: 0;
  padding: 9px;
}
.input-group .form-control {
  width: 400px;
}
.itemAdd {
  background-color: rgb(233, 229, 229);
}
.modalAdd ul>li>a{
  text-align: center;
}
#itemInput {
  width: 108px;
  float: left;
}
textarea {
  width: 400px;
  padding: 8px;
  border: 1px solid #ccc;
}
textarea:focus {
  border: 1px solid #1BB394;
}
