/* 调整左侧边栏样式 */
#side-menu>li:nth-of-type(2)>ul>li:nth-of-type(1)>a {
  color: #a7b1c2;
}
#side-menu>li:nth-of-type(2)>ul>li:nth-of-type(2)>a {
  color: #fff;
}

.ibox-title {
  position: relative;
}
.four-choose {
  margin-right: 30px;
}
.ibox-title {
  margin: 10px 0;
}
.btn.btn-primary.dropdown-toggle {
  margin-top: 0;
}
.select_area {
  position: absolute;
  top: 0px;
  left: -855px;
}
.four-choose.btns {
  position: absolute;
  top: 0px;
  left: -740px;
}
.filterBtn>button {
  padding: 6px 3px;
  width: 94px;
}
.filterBtn:nth-of-type(3)>button {
  width: 116px;
}
.filterBtn>button>a {
  display: block;
  color: #fff;
  width: 68px;
}
.filterBtn > .btn-danger {
    color: #fff;
}
.filterBtn>button:hover {
  opacity: .8;
}
.btn.btn-outline.btn-success {
  background-color: #1c84c6;
}
.btn.btn-outline.btn-warning {
  background-color: #f8ac59;
}
.btn.btn-outline.btn-info {
  background-color: #23c6c8;
}
.btn.btn-outline.btn-danger {
    background-color: #ed5565;
}
.tableArea {
  padding: 0 20px;
}
.dropdown-menu-domains {
  min-width: 94px;
}
.filterBtn {
  display: inline-block;
  margin-right: 20px;
  position: relative;
}
.badge.badge-danger {
  position: absolute;
  right: 4px;
  top: 8px;
}
.btn-warning>a {
  padding-left: 10px;
}
/* 右上角搜索框 */
.ibox-title>.pull-right {
  position: absolute;
  top: 5px;
  right: 20px;
}
.form-group>input {
  border: 1px solid #1BB394;
  border-radius: 10px;
  height: 34px;
  width: 200px;
  position: absolute;
  top: 0;
  left: -240px;
}
/* 搜索确定按钮 */
#btn_confirm {
  position: absolute;
  right: 0;
  top: 0;
}
.alert.alert-danger {
  position: absolute;
  top: 40px;
  width: 260px;
  height: 70px;
  z-index: 1;
  padding-top: 10px;
  display: none;
}
#domainsUl>li>a {
  padding: 3px 6px;
  text-align: center;
}
.pagination {
  margin: 0;
}
.badge-danger {
  background-color: transparent;
}
tr>th:nth-of-type(1) {
  width: 5%;
}
tr>th:nth-of-type(2) {
  width: 10%;
}
tr>th:nth-of-type(3),
tr>th:nth-of-type(4) {
  width: 17.5%;
}
tr>th:nth-of-type(5),
tr>th:nth-of-type(6),
tr>th:nth-of-type(7),
tr>th:nth-of-type(8)
tr>th:nth-of-type(9) {
  width: 10%;
}
.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
  z-index: 2;
  color: #23527c;
  background-color: #C6C6C7;
  border-color: #ddd;
}
.pagination>li:first-child>a,
.pagination>li:last-child>a {
  background-color: #C6C6C7;
}
#previous,
#next {
  background-color: #eee;
}
.tableArea {
  position: relative;
  margin-bottom: 30px;
  min-height: 792px;
}
.tableArea>nav {
  position: absolute;
  bottom: 10px;
  right: 20px;
}
.tableArea .dropdown-menu {
  min-width: 60px;
  box-shadow: 0 6px 12px rgba(0,0,0,.3);
  top: 25px;
}
.tableArea .dropdown-menu>li>a {
  margin: 4px 0;
}
.tableArea .dropdown-menu>li:nth-of-type(1)>a {
  color: #d73d32;
  padding: 3px 12px;
}
.tableArea .dropdown-menu>li:nth-of-type(2)>a {
  color: #57b5e3;
  padding: 3px 12px;
}
/* 调整操作按钮 */
.tableArea .btn.btn-primary.dropdown-toggle {
  padding: 0 12px;
  border: 0;
}
tbody>tr>td:last-child {
  padding: 0 8px;
}
.tableArea .btn.btn-primary.dropdown-toggle,
.tableArea .btn.btn-primary.dropdown-toggle:hover,
.tableArea button,
.tableArea button:hover {
  background-color: inherit;
  color: #7d7b7b;
}
.tableArea .btn:active {
  box-shadow: none;
}
/* tr鼠标经过样式 */
tr:hover {
  background-color: #C6C6C7 !important;
  box-shadow: 35px 0px 5px -2px #C6C6C7, -27px 0px 5px -2px #C6C6C7;
}
thead>tr:hover {
  background-color: none;
  box-shadow: none;
  border: none;
}
/* 删除模态框 */
.delbtn {
  width: 300px;
  margin-top: 200px;
}
.delbtn .modal-title,
.delbtn .modal-footer {
  text-align: center;
}
.modal-footer {
  position: relative;
  height: 65px;
}
.delbtn .modal-footer button:nth-of-type(1) {
  position: absolute;
  left: 25%;
}
.delbtn .modal-footer button:nth-of-type(2) {
  position: absolute;
  left: 55%;
}
/* 修改模态框 */
.input-group {
    margin-bottom: 40px;
}
.input-group .form-control {
  width: 400px;
}
#itemDetail_cate {
  width: 108px;
}
/* 复选框 */
.checkbox-area {
  position: relative;
  right: 459px !important;
  top: 15px !important;
}
.checkbox-area div:first-child {
    margin-bottom: 15px;
}
/* 动画 */
#waving {
  top: 50%;
}

/* 左侧选项按钮样式调整 */
.ibox-title {
  position: relative;
}
.pull-left {
  float: left;
  position: absolute;
  left: 20px;
  top: 5px;
}
.dropdown-menu {
  min-width: 65px;
  top: 34px;
}
.dropdown-menu-domains {
  top: 50px;
}
.dropdown-menu-domains>li {
  width: 100px;
}
.dropdown-menu-domains>li>a:hover {
  background-color: #ccc;
}
.dropdown-menu-domains>li>a {
  padding: 0px 14px;
  /* margin: 4px 0; */
  border-radius: 0;
  text-align: center;
}
.dropdown-menu>li>a {
  padding: 3px 14px;
  border-radius: 0;
}

/*新增*/
.input-group {
  margin-top: 5px;
}
.input-group-addon {
  width: 108px;
  float: left;
  margin: 0;
  padding: 9px;
}
.input-group .form-control {
  width: 400px;
}

#itemAdd {
  background-color: #18a689;
  margin-bottom: 0;
  color: #fff
}
#itemAdd_edit {
  background-color: #18a689;
  margin-bottom: 0;
  color: #fff;
}
.modalAdd ul>li>a{
  text-align: center;
}
#itemInput,
#itemInput_edit {
  width: 108px;
  float: left;
}
textarea {
  width: 400px;
  padding: 8px;
  border: 1px solid #ccc;
}
textarea:focus {
  border: 1px solid #1BB394;
}
.alert-danger {
  position: absolute;
  top: 30px;
  right: 0;
  z-index: 1;
  width: 260px;
  height: 70px;
  margin: 0;
  display: none;
}
.checkbox-area {
  right: 30px;
  top: 10px;
}
input[type="checkbox"] {
  margin-left: 20px;
}
.caret-edit {
  position: absolute;
  top: 15px;
  left: 85px;
}
#itemDetail_cate {
  width: 108px
}
.btn.addNew {
  background-color: #fff !important;
}
.btn.addNew:hover {
  background-color: #23c6c8 !important;
}
.btn.addNew:hover a {
  color: #fff;
}
btn-success a {
  color: inherit;
}
.btn-info a {
  color: #23c6c8;
}
.btn-warning a {
  color: inherit;
}
.btn-danger a {
  color: inherit;
}
.add-new-proName {
  background-color: #18a689;
}

/*编辑*/
.dropdown-menu.edit_ul {
    min-width: 108px;
    top: 78px;
}
.dropdown-menu.edit_ul li:hover a {
    background-color: #ccc;
}

/*cdn*/
.add_cdn {
    position: relative;
}
.add_cdn span {
    display: inline-block;
    width: 108px;
    height: 34px;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #e5e6e7;
    box-sizing: border-box;
    text-align: center;
    line-height: 34px;
    font-size: 14px;
    font-weight: normal;
}
.add_cdn input {
    position: absolute;
    top: 0;
    left: 108px;
    font-size: 14px;
    font-weight: normal;
}
.btn-refresh>ul>li:nth-child(3)>a {
  color: #1ab394;
}
.edit-checkbox {
    position: absolute;
    top: 90px;
    left: 0;
}
.modal-footer {
    margin-top: 40px;
  position: relative;
}
.modal-footer div {
  position: absolute;
  top: 20px;
  left: 30px;
}
.modal-footer div p {
  color: #ed5565;
  font-size: 16px;
}
.check_and_warning {
    position: absolute;
    left: 0;
    bottom: -35px;
}
/*更新证书模态框*/
#updateAllCert .modal-dialog {
    width: 450px;
    margin-top: 150px;
}
#updateAllCert .modal-title {
    font-size: 22px;
}
#updateAllCert .modal-body {
    text-align: center;
}
#updateAllCert .modal-body span {
    font-size: 16px;
}
.modal-display-none {
    display: none;
}
.modal-display-block {
    display: block;
}
#updateAllCert .modal-footer {
    margin-top: 0;
}